<!--  Replace menu links here -->

<li class="nav-item">
<strong><a class="nav-link" href="{{site.baseurl}}/index.html"><h1 style="font-family:manrope;">HOME</h1></a></strong>
</li>
<li class="nav-item">
<strong><a class="nav-link" href="{{site.baseurl}}/contact.html">CONTACT</a></strong>
</li>
<li class="nav-item">
<strong><a target="_blank" class="nav-link" href="https://t.me/SolarisEco">TELEGRAM</a></strong>
</li>
<li class="nav-item">
<strong><a target="_blank" class="nav-link" href="https://memecat.upstream-network.co.uk/index.php">ORDER</a></strong>
</li>
