<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/work.html">
  <h2 style="font-family:manrope;" class="menu-item">
    <span class="en-text">WORKS</span>
    <span class="cn-text">作品</span>
  </h2>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">
  <h2 style="font-family:manrope;" class="menu-item">
    <span class="en-text">ABOUT</span>
    <span class="cn-text">关于</span>
  </h2>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">
  <h2 style="font-family:manrope;" class="menu-item">
    <span class="en-text">CONTACT</span>
    <span class="cn-text">联系</span>
  </h2>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/form.html">
  <h2 style="font-family:manrope;" class="menu-item">
    <span class="en-text">ORDER</span>
    <span class="cn-text">订购</span>
  </h2>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/careers.html">
  <h2 style="font-family:manrope;" class="menu-item">
    <span class="en-text">CAREERS</span>
    <span class="cn-text">招聘</span>
  </h2>
</a>
</li>

