<div class="sticky-top sticky-top-offset">
    <h1 class="spanborder text-capitalize" style="font-family:manrope;">Lastest 近来</h1>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            
            <span>
                <h2 style="font-family:manrope;">
                    <a href="{{site.baseurl}}{{ post.url }}" style="color: #FBF604;">{{ post.title }}</a>
                </h2>
                
                </span>
            </span>
            </li> 
        </br></br>
        {% endfor %}   
    </ol>
</div> 
