<div class="sticky-top sticky-top-offset">
    <h1 class="spanborder text-capitalize" style="font-family:manrope;">Lastest</h1>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            
            <span>
                <h2 style="font-family:manrope;color: #FBF604;">
                    <a href="{{site.baseurl}}{{ post.url }} style="color: #FBF604;">{{ post.title }}</a>
                </h2>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li> 
        </br></br>
        {% endfor %}   
    </ol>
</div> 
