<a href="{{ site.baseurl }}{{ post.url }}" class="work-link">
    <div class="work-item mb-4">
        {% if post.image %}
            <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}" class="img-fluid">
        {% endif %}
        <div class="work-caption">
            <h5 class="work-title">{{ post.title }}</h5>
            {% if post.description %}
                <p class="work-description">{{ post.description }}</p>
            {% endif %}
        </div>
    </div>
</a>

<style>
.work-link {
    text-decoration: none;
}
.work-link:hover {
    text-decoration: none;
}
</style> 